h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color: #BCAC9C;
  background-color: #9CACBC;
  padding: 25px;
  text-align: center;
}

nav {
  color: #BCAC9C;
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-color: #9CACBC;
  border-width: 1px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #9CACBC;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #9CACBC;
  font-family: 'Lato', sans-serif;
}

p {
  color: #BCAC9C;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #D6DDE5;
}

img:hover {
  border-style: solid;
  border-color: #9DC9F6;
  opacity: 0.5;
  border-radius: 50%;
}

img {
  transition: border-radius 0.5s;
}

.project:hover {
  background-color: #84AFDC;
  font-size: 1.5em;
}

.project {
  transition: font-size 1s ease-in;
}

.number:hover {
   background-color: #84AFDC;
   font-size: 1.5em;
}

.number {
  transition: font-size 1s ease-in;
}

aside {
  color: violet;
  font-family: 'Lato', sans-serif;
}

aside:hover {
  border: 3px solid white;
}

aside {
  transition: border 1s ease-in;
}

aside ul li:nth-child(odd) {
  color: white;
}

.heading {
  color: white;
}

.heading:nth-child(odd) {
  color:violet;
}

.college:hover {
   background-color: #84AFDC;
   font-size: 1.5em;
}

.college {
  transition: font-size 2s ease-in 1s;
}

.fas {
  color: violet;
  font-size: 2em;
}

.fab {
  color: violet;
  font-size: 2em;
}

.far {
  color: violet;
  font-size: 2em;
}

footer {
  font-size: small;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.box {
  height: 300px;
  width: 300px;
  background: #D6DDE5;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  border: white solid 5px;
}

/*Style for web forms starts here*/

button, input, select, textarea {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  display: block;
  margin: 10px;
}

label {
  font-family: 'Lato', sans-serif;
  color: #84AFDC;
}

fieldset {
  font-family: 'Lato', sans-serif;
  color: #84AFDC;
  border: none;
}

input[type=submit] {
  width: 60px;
  height: 25px;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  background-color: violet;
}

input[type=password]:focus {
  background-color: #84AFDC;
  outline: none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #84AFDC;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #BCAC9C;
}

.checkbox input:checked ~ .checkmark {
  background-color: violet;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
