h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color: #BCAC9C;
  background-color: #9CACBC;
  padding: 25px;
  text-align: center;
}

nav {
  color: #BCAC9C;
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-color: #9CACBC;
  border-width: 1px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #9CACBC;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #9CACBC;
  font-family: 'Lato', sans-serif;
}

p {
  color: #BCAC9C;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #D6DDE5;
}

img:hover {
  border-style: solid;
  border-color: #9DC9F6;
  opacity: 0.5;
}

a[href="https://github.com/jocjoh/semantic-elements"]:hover {
  background-color: #84AFDC
}

a[href="#"]:hover {
   background-color: #84AFDC;
 }

aside {
  color: violet;
  font-family: 'Lato', sans-serif;
}

.heading {
  color: white;
  text-shadow: 3px 2px gray;
}

a[href="https://oregonstate.edu"]:hover {
   background-color: #84AFDC;
   font-family: 'Lato', sans-serif;
}

.fas {
  color: violet;
  font-size: 2em;
}

.fab {
  color: violet;
  font-size: 2em;
}

.far {
  color: violet;
  font-size: 2em;
}

footer {
  font-size: small;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.box {
  height: 300px;
  width: 300px;
  background: #D6DDE5;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  border: white solid 5px;
}
